<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<ol>
		  <!-- Create an instance of the todo-item component -->
		  <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item> 
		</ol>

		<input v-model="message">
		<button v-on:click="groceryList.push({text:message})">console Value</button>
		<input type="checkbox" v-on:click="makeActive('container', $event)" ref="plus" v-bind:class="{'active' : activeButton === $refs.plus}">
	</div>


	<script>
		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li><span>{{ todo.text }}<button v-on:click="this.splice()">Delete</button></span></li>'
		})
		var app = new Vue ({
			el: '#app',
			data: {
			    message: 'Hello Vue.js!',
			    groceryList: [
			    	{id: 0, text: 'Example'},
			    	{id: 1, text: 'Example1'},
			    	{id: 2, text: 'Example2'}
			    ],
			    active: '',
    activeButton: null
			    
			},
			methods: {
        makeActive: function(item, e){
          // When a model is changed, the view will be automatically updated.
          this.active = item;
          this.activeButton = e.target
        }
    }
			// methods: {
			// 	consoleValue: function () {
			// 		var elem = this.message;
			// 		this.groceryList.push({ text:elem });
			// 	}
			// }
		})
		

	</script>
</body>
</html>